<div class="grid grid-cols-1">
  <div>
    <input
      id="search"
      name="search"
      class="w-2/3 border-2 border-gray-200 rounded-md h-10 p-4 inline"
      placeholder="Quick search"
      (ngModelChange)="searchItems($event)"
      [(ngModel)]="searchTerm"
    />
    <span class="inline" *ngIf="searchTerm.length" (click)="resetSearch()"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6 inline mx-2 cursor-pointer"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        /></svg
    ></span>
  </div>
  <div>
    <button
      (click)="navigateToCreateForm()"
      class="my-4 rounded-lg bg-blue-200 text-black p-2 mr-1"
    >
      New item
    </button>
    <button
      (click)="navigateToQrCodes()"
      class="my-4 rounded-lg bg-blue-200 text-black p-2 ml-1"
    >
      QR Codes
    </button>
  </div>
</div>
@if (items.length) {
<p-table [value]="items" styleClass="p-datatable-striped">
  <ng-template pTemplate="header">
    <tr>
      <th>Item Name</th>
      <th>Current</th>
      <th>Build to</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr
      (click)="navigateToItem(item.id)"
      class="cursor-pointer"
      [ngClass]="
        isQuantityBelowThreshold(item) ? 'bg-red-50' : 'hover:bg-blue-50'
      "
    >
      <td>{{ item.name }}</td>
      <td>{{ item.currentQuantity }}</td>
      <td>{{ item.buildToQuantity }}</td>
    </tr>
  </ng-template>
</p-table>
} @else { @if (searchTerm) {
<div>No matching results</div>
} @else {
<app-loading></app-loading>
} }
