<div class="relative w-full h-screen bg-white">
  <button
    (click)="toggleSidebar()"
    class="absolute z-10 top-52 right-0 bg-blue-200 px-2 py-4 rounded-tl-lg rounded-bl-lg [writing-mode:vertical-lr]"
  >
    Inventory Items
  </button>
  <button
    (click)="openScanner()"
    class="absolute z-10 top-96 right-0 bg-blue-200 px-2 py-4 rounded-tl-lg rounded-bl-lg [writing-mode:vertical-lr]"
  >
    Open Scanner
  </button>
  <div class="w-11/12 h-screen md:w-8/12 bg-white m-auto pt-6 p-2">
    <div class="mb-6">
      <span class="text-blue-700 font-bold text-2xl"
        ><a href="/">Jefferson College of Nursing</a></span
      >
    </div>
    <router-outlet></router-outlet>
  </div>
  <p-sidebar
    [(visible)]="sidebarVisible"
    position="right"
    styleClass="w-2/3 md:w-1/4 bg-gray-100"
  >
    <app-sidebar></app-sidebar>
  </p-sidebar>
  <p-dialog
    header="Scan QR Code"
    [modal]="true"
    [(visible)]="showScannerModal"
    [style]="{ width: '35rem', height: '35rem' }"
  >
    <div class="flex align-items-center gap-3 mb-3">
      <app-qr-code-scan [cameraOn]="showScannerModal"></app-qr-code-scan>
    </div>
  </p-dialog>
</div>
