@if (item) {
<div class="grid grid-cols-2">
  <div class="font-bold text-2xl">{{ item.name }}</div>
  <div class="text-right">
    <app-item-action-buttons [itemId]="item.id"></app-item-action-buttons>
  </div>
</div>

<div class="grid grid-cols-1 mt-8">
  <div
    class="w-3/5 mx-auto flex flex-col items-center border-2 border-gray-200 p-3"
    [ngClass]="isQuantityBelowThreshold() ? 'bg-red-100' : 'bg-green-100'"
  >
    <span *ngIf="itemChanged" class="text-xs italic"
      >starting quantity: {{ itemClone.currentQuantity }}</span
    >
    <p class="text-5xl my-4">{{ item.currentQuantity }}</p>
    <br />
    <p class="font-bold">Current Quantity</p>
  </div>
</div>
<div class="w-3/5 mx-auto py-5 items-center justify-center flex">
  <button
    class="inline bg-green-200 w-20 p-2 mr-1 rounded-lg"
    (click)="adjustAmount('ADD')"
    [disabled]="adjustmentButtonsDisabled"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6 mx-auto"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
      />
    </svg>
  </button>
  <button
    class="inline bg-red-200 w-20 p-2 ml-1 rounded-lg"
    (click)="adjustAmount('SUBTRACT')"
    [disabled]="adjustmentButtonsDisabled"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6 mx-auto"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
      />
    </svg>
  </button>
</div>
<div class="grid grid-cols-1">
  <div><strong>Item name: </strong>{{ item.name }}</div>
  <div *ngIf="item.description">
    <strong>Description: </strong>{{ item.description }}
  </div>
  <div><strong>Current quantity: </strong>{{ item.currentQuantity }}</div>
  <div><strong>Build to quantity: </strong>{{ item.buildToQuantity }}</div>
  <div><strong>Items per case: </strong>{{ item.caseQuantity }}</div>
  <div><strong>Case cost: </strong>{{ item.caseCost | currency : "USD" }}</div>
  <div>
    <strong>Inventory cost: </strong>
    {{ calculateInventoryCost() | currency : "USD" }}
  </div>
  <div>
    <strong>Status: </strong>{{ item.isActive ? "Active" : "Inactive" }}
  </div>
</div>

} @else {
<app-loading></app-loading>
}
